@import "tailwindcss";

@theme {
  /* Brand green */
  --color-brand-green: #9be868;
  --color-brand-green-50: #f7f9f5;
  --color-brand-green-100: #edf4e9;
  --color-brand-green-200: #daebcf;
  --color-brand-green-300: #c6e6b0;
  --color-brand-green-400: #b1e58e;
  --color-brand-green-500: #9be868;
  --color-brand-green-600: #77e231;
  --color-brand-green-700: #5abd19;
  --color-brand-green-800: #408810;
  --color-brand-green-900: #265209;
  --color-brand-green-950: #193706;

  /* Brand blue */
  --color-brand-blue: #2f54d9;
  --color-brand-blue-50: #f5f6f9;
  --color-brand-blue-100: #e5e7f1;
  --color-brand-blue-200: #bfc7e3;
  --color-brand-blue-300: #94a3db;
  --color-brand-blue-400: #647dd7;
  --color-brand-blue-500: #2f54d9;
  --color-brand-blue-600: #1a4cbd;
  --color-brand-blue-700: #0e4597;
  --color-brand-blue-800: #06396d;
  --color-brand-blue-900: #012641;
  --color-brand-blue-950: #001a29;

  /* Fonts */
  --font-sans: var(--font-roboto);
  --font-mono: var(--font-roboto-mono);
  --font-condensed: var(--font-roboto-condensed);
}

body {
  font-family: var(--font-sans);
}

/* utils classes */

.deborder1 {
  border: 1px solid red;
}

.deborder2 {
  border: 1px solid green;
}
